# Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
#model
*.h5